{% include "partials/htmlhead.njk" %}

{% include "partials/header.njk" %}

{% include "partials/hero.njk" %}

{% block content %}

<main>
    <h2>Check Out some of my photos below</h2>
</main>

{% endblock %}

{% include "partials/htmlfoot.njk" %}