{% include "partials/htmlhead.njk" %}

{% include "partials/header.njk" %}

{% include "partials/hero.njk" %}

{% include "partials/home-portfolio.njk" %}

{# {% block content %}

<main>
    <h2>Testimonials</h2>
</main>

{% endblock %} #}

{% include "partials/htmlfoot.njk" %}