.button {
    display: inline-block;
    font-family: $font-heading;
    color: $color-light;
    border: 2px solid $color-light;
    padding: 15px 10px;
    border-radius: 15px;
    font-size: $font-size-h4;
}