.button {
    font-family: $font-heading;
    background-color: $color-blue-dark;
    text-align: center;
    letter-spacing: .5px;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px (rgba(0,0,0,0.3));
    transition: all 0.2s ease-in-out;
}

.button:active {
    transform: translateY(2px);
}

.button:hover,
.button:active,
.button:focus {
    background-color: $color-light;
    color: $color-blue-dark;
}

@media screen and (min-width: $bp-desktop) {
    .button {
        padding: 10px 15px;
    }
}
