.hero {
    text-align: center;
    color: $color-light;

    .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 10rem;
    }

    &__bgvideo {
        z-index: -1;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__arrow {
        margin: 0 auto;
        height: 2rem; width: 2rem;
        border-style: solid;
        border-color: $color-light;
        border-width: 0px 3px 3px 0px;
        border-radius: 4px;
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
    }

    &__link:hover {
        .hero__arrow {
            border-color: $color-blue-dark;
            border-bottom-width: 6px;
            border-right-width: 6px;
        }
    } 
}

@media screen and (min-width: $bp-tablet) {
    .hero {
        .wrapper {
            padding-bottom: 6rem;
        }
    }
}
