.hero {
    text-align: center;
    color: $color-light;

    .wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__bgvideo {
        z-index: -1;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__headline {
        width: 66%;
    }

    
    &__button {
        position: absolute;
        bottom: 8rem;
    }
}

@media screen and (min-width: $bp-desktop) {
    .hero__headline {
        font-size: $font-size-biggest;
    }
}