.overlay {
    position: absolute;
    margin: 0;
    top: 0;
    right: -2vw;

    height: 100vh;
    width: 52vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: right;
    background-color: rgba(29, 53, 87, .80);
    color: $color-light;

    transform: translateX(105%);
    transition: transform 0.5s cubic-bezier(0.25, 1.05, 0.35, 1.10);

    li {
        position: relative;
        margin-bottom: 3rem;

        span.active {
            opacity: 0.5;
        }
    }

    li:last-child {
        margin-bottom: 0;
    }

    &__links {
        font-family: $font-heading;
        font-size: $font-size-h5;
        text-transform: uppercase;
        margin-right: 2rem;
    }

    &__links:before {
        background-color: $color-light;
    }

    &__has--submenu {
        margin-bottom: 0;
    }

    &__submenu {
        display: none;

        li {
            margin: 1rem 0;
            a {
                font-size: 1rem;
            }
        }

    }


    &__submenu.opened {
        display: block;
    }

}

.overlay.opened {
    transform: translateX(0);
}

@media screen and (min-width: $bp-tablet) {
    .overlay__links {
        font-size: $font-size-h4;
    }
}
