.overlay {
    position: absolute;
    margin: 0;
    top: 0;
    right: -10px;

    height: 100vh;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: right;
    background-color: rgba(230, 223, 208, .20);
    backdrop-filter: blur(4px);
    color: $color-blue-dark;

    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.25, 1.05, 0.35, 1.10);

    li {
        position: relative;
    }

    li:not(last-child) {
        margin-bottom: 2rem;
    }

    &__links {
        font-family: $font-heading;
        font-size: $font-size-h4;
        text-transform: uppercase;
        margin-right: 2rem;
    }

}

.overlay.opened {
    transform: translateX(0);
}
