.portfolio {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr 1fr;

    .button {
        grid-column: 2 / 4;
        margin-bottom: 5rem;
    }

    &__headline {
        font-size: $font-size-h1;
        margin: 2rem 0;
    }

    &__description {
        grid-column: 1 / 6;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__image:nth-child(odd) {
        grid-column: 2 / 5;
        box-shadow: 3px 3px 3px (rgba(0,0,0,0.2)),
                    -3px -3px 3px (rgba(0,0,0,0.2));
    }

    &__image:nth-child(even) {
        grid-column: 1 / 4;
        box-shadow: -3px 3px 3px (rgba(0,0,0,0.2)),
                    3px -3px 3px (rgba(0,0,0,0.2));
        
    }

    &__image:not(:first-child) {
        margin-top: -1rem;
    }


}
