.portfolio {
    margin: 4rem auto;
    text-align: center;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: 4rem;
    }

    .button {
        margin-bottom: 5rem;
    }

}
