html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $color-light;
    color: $color-blue-dark;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

a:active {
    background-color: transparent;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

hr {
    border: 2px solid rgba(168, 218, 220, 0.5);
    margin: 3px 0;
}

.hr-dark {
    border: 1px solid rgba(29, 53, 87, 0.5);
}
