html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $color-light;
    color: $color-blue-dark;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

a:hover,
a:active,
a:focus {
    color: $color-blue-dark;
}

img {
    max-width: 100%;
}