.color-accent {
    color: $color-blue-light;
    font-style: italic;
}

.hoverable {
    overflow: hidden;
    position: relative;
}

.hoverable:before { // helper class that adds hover, focus and active underlining
    content: '';
    position: absolute;
    transition: all .4s cubic-bezier(0.25, 1.05, 0.35, 1.10);
    left: 0;
    width: 100%;
    height: 2px;
    background: $color-blue-dark; 
    bottom: 0;
    transform: translateX(-100%);
    opacity: 0;
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (min-width: $bp-desktop) {
    .hidden-largescrn {
        // code to hide an element on a large screen
        display: none;
    }
}

.display-largescrn {
    // code to display an element ONLY on a large screen
    display: none;
}

@media screen and (min-width: $bp-desktop) {
    .display-largescrn {
        display: block;
    }
}

.blurred {
    backdrop-filter: blur(5px);
}
