// Variables for Google Fonts font stacks
$font-heading: 'PT Sans', sans-serif;
$font-body: 'Noto Serif', serif; 

// Variables for type scale
$font-size-biggest: 2.986rem;
$font-size-h1: 2.488rem;
$font-size-h2: 2.074rem;
$font-size-h3: 1.728rem;
$font-size-h4: 1.44rem;
$font-size-h5: 1.2rem;

// Reset default margin and padding for typography elements
h1, h2, h3, h4, h5, h6, p {
    margin: 0; padding: 0;
} 

// Set Heading font for heading elements
h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    line-height: 1.1;
    font-weight: 400;
}

p {
    font-family: $font-body;
    font-weight: 400;
    line-height: 1.6;
    text-indent: 2rem;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

.header__title h2 {
    font-size: $font-size-h5;
}

@media screen and (min-width: $bp-tablet) {
    .header__title h2 {
        font-size: $font-size-h4;
    }

    .portfolio__description {
        font-size: $font-size-h2;
    }
}

@media screen and (min-width: $bp-desktop) {
    .header__title h2 {
        font-size: $font-size-h3;
    }
}
