// Color Ideas
$color-light: #e6dfd0;
$color-blue-light: #a8dadc;
$color-blue-medium: #457b9d;
$color-blue-dark: #1d3557;

// Breakpoints
$bp-tablet: 640px;
$bp-desktop: 1100px;
$bp-desktop-large: 1440px;