// Color Ideas
$color-white: #f7f8fa;
$color-light: #eff1f5;
$color-blue-light: #a8dadc;
$color-blue-medium: #607189;
$color-blue-dark: #1d3557;

// Breakpoints
$bp-tablet: 640px;
$bp-desktop: 1100px;
$bp-desktop-large: 1440px;

$my-box-shadow: rgb(29, 53, 87) 0px 10px 20px -5px;