// Color Ideas
$color-light: #f5f5f5;
$color-black: #333;
$color-blue-light: #a8dadc;
$color-blue-medium: #457b9d;
$color-blue-dark: #1d3557;
$color-red: #e63946;

// Breakpoints
$bp-tablet: 640px;
$bp-desktop: 1100px;
$bp-desktop-large: 1440px;