<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <!-- Add google fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Add author styles -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Script to enable cms user login -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>

    <header class="header blurred" id="header">
        <div class="wrapper">
            <a class="header__title" href="/">UNITY ONE WEDDINGS</a>
            <a class="button header__contactbtn" href="/contact">CONTACT</a>

			<nav class="display-largescreen">
				<ul>
					<li>
						<a class="header__desktoplinks hoverable display-largescrn" href="/about/">ABOUT</a>
					</li>
					<li id="has-submenu">
						<span class="header__desktoplinks hoverable display-largescrn" >GALLERIES</span>
						<ul class="submenu" id="submenu">
							<li>
								<a class="header__desktoplinks hoverable display-largescrn" href="/galleries/weddings/">WEDDINGS</a>
							</li>
							<li>
								<a class="header__desktoplinks hoverable display-largescrn" href="/galleries/engagements/">ENGAGEMENTS</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="header__desktoplinks hoverable display-largescrn" href="/cinematography/">CINEMATOGRAPHY</a>
					</li>
				</ul>

			</nav>

			<div class="hamburger hidden-largescrn" id="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</div>

			{# <nav class="overlay hidden-largescrn" id="overlay"> #}
				<ul class="overlay hidden-largescrn" id="overlay">
					<li>
						<a class="overlay__links hoverable hidden-largescrn" href="/about/">ABOUT</a>
					</li>
					<li class="overlay__has--submenu">
						<span class="overlay__links hoverable hidden-largescrn" id="has-overlay-submenu">GALLERIES</span>
						<ul class="overlay__submenu" id="overlay-submenu">
							<li>
								<a class="overlay__links hoverable hidden-largescrn" href="/galleries/weddings/">WEDDINGS</a>
							</li>
							<li>
								<a class="overlay__links hoverable hidden-largescrn" href="/galleries/engagements/">ENGAGEMENTS</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="overlay__links hoverable hidden-largescrn" href="/cinematography/">CINEMATOGRAPHY</a>
					</li>
					<li>
						<a class="overlay__links hoverable hidden-largescrn" href="/contact/">CONTACT</a>
					</li>
				</ul>												
	              
			{# </nav> #}
        </div>
    </header>

    {{ content | safe }}

    <footer class="footer">

        <p>&copy; 2021 nickrothcreative.com</p>
        
    </footer>

    <script src="/js/main.js"></script>

</body>
</html>