.header {
    width: 100%;
    position: fixed;
    top: 0;
    color: $color-light;
    background-color: rgba(51,51,51,0.3);
    z-index: 100;

    .wrapper {
        display: flex;
        justify-content: space-between;
        height: 8vh;
    }

    nav {
        align-self: center;
        display: flex;
    }

    &__title {
        align-self: center;
        cursor: pointer;
    }

    &__title:hover,
    &__title:active,
    &__title:focus {
        color: $color-blue-dark;
    }

    &__contactbtn {
        align-self: center;
        font-size: 0.833rem;
    }

    &__desktoplinks {
        align-self: center;
        list-style: none;
        font-family: $font-heading;  
    }

    &__desktoplinks:not(last-child) {
        margin-left: 2rem;
    }

}

.hamburger {
    align-self: center;
    margin-left: 2rem;
    cursor: pointer;

    span {
        display: block;
        width: 27px;
        height: 2px;
        background-color: $color-light;
        transition: all 0.4s ease-in;
    }

    span:not(:last-child) {
        margin-bottom: 6px;
    }
}

.hamburger.open {
    span:nth-child(1) {
        transform: translateY(8px) rotate(135deg);
    }

    span:nth-child(2) {
        transform: translateX(10px);
        opacity: 0;
    }

    span:nth-child(3) {
        transform: translateY(-8px) rotate(-135deg);
    }
}