.header {
    width: 100%;
    position: absolute;
    top: 0;
    color: $color-light;
    z-index: 100;

    .wrapper {
        display: flex;
        justify-content: space-between;
        height: 8vh;
    }

    &__title {
        font-size: $font-size-h5;
        align-self: center;
    }

    &__contactbtn {
        align-self: center;
        font-size: 0.833rem;
    }

}

.hamburger {
    align-self: center;

    span {
        display: block;
        width: 27px;
        height: 2px;
        background-color: $color-light;
    }

    span:not(:last-child) {
        margin-bottom: 6px;
    }
}