.header {
    width: 100%;
    position: fixed;
    top: 0;
    color: $color-light;
    z-index: 100;

    .wrapper {
        display: flex;
        justify-content: space-between;
        height: 8vh;
    }

    nav {
        align-self: center;
        display: flex;
    }

    &__title {
        align-self: center;
    }

    &__contactbtn {
        align-self: center;
        font-size: 0.833rem;
    }

    &__desktoplinks {
        align-self: center;
        list-style: none;
        font-family: $font-heading;  
    }

    &__desktoplinks:not(last-child) {
        margin-left: 2rem;
    }

}

.hamburger {
    align-self: center;
    margin-left: 2rem;

    span {
        display: block;
        width: 27px;
        height: 2px;
        background-color: $color-light;
    }

    span:not(:last-child) {
        margin-bottom: 6px;
    }
}