.home {
    &__quote {
        width: 100%;
        background: $color-light;
        padding: 4rem 0;
        p {
            padding-top: 2rem;
            width: 90%;
            margin: 0 auto;
            max-width: 400px;
        }
        &--text {
            text-align: center;
            width: 90%;
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &__cardbox {
        margin: 0 auto 2rem;
        width: 66%;
    }

    &__card {
        flex: 1;
        margin: 0 4px;
        text-align: center;

        h3 { 
            font-size: 16px;
            margin: 4rem 0 0;
        }

        img {
            margin: 8px 0;
        }
    }

    &__carousel {
        max-width: 600px;
        margin: 2.4rem auto;
        position: relative;
        display: flex;
    }

}

.carousel__image--1,
.carousel__image--2,
.carousel__image--3 {
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

.carousel__image--2 {
    transform: translateX(-100%);
}

.carousel__image--3 {
    transform: translateX(-200%);
}

.carousel__image--active {
    opacity: 1;
}


.carousel__arrow--right,
.carousel__arrow--left {
    margin: 0 auto;
    height: 2rem; 
    width: 2rem;
    border-style: solid;
    border-color: $color-light;
    border-width: 0px 3px 3px 0px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    z-index: 5;
}

.carousel__arrow--left {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: rotate(135deg);
}

.carousel__arrow--right {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: rotate(-45deg);
}

@media screen and (min-width: $bp-tablet) {
    .home__quote p { max-width: 500px; }
    .home__quote--text {
        font-size: $font-size-h1;
        max-width: 500px;
    }
    .home__cardbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .home__card {
        h3 {
            font-size: $font-size-h5;
        }
    }
}

@media screen and (min-width: $bp-desktop) {
    .home__carousel {
        max-width: 800px;
    }

    .home__quote--text {
        font-size: $font-size-h1;
    }

    .home__card {
        margin: 0 1rem;
        h3 {
            font-size: $font-size-h4;
        }
    }
}