.home {
    &__description {
        max-width: 400px;
        margin: 4rem auto;
    }

    &__cardbox {
        margin: 4rem auto;
        width: 75%;
    }

    &__card {
        flex: 1;
        margin: 0 4px;

        h3 {
            text-align: center;
            margin: 4rem 0 0;
        }

        img {
            box-shadow: $my-box-shadow;
            margin: 8px 0;
        }
    }

    &__carousel {
        max-width: 600px;
        margin: 4rem auto;
        display: flex;
        box-shadow: $my-box-shadow;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            max-width: 100%;
            z-index: -1;
        }
    }

    &__quote {
        margin: 0 auto;
    }
}


.carousel__arrow--right,
.carousel__arrow--left {
    margin: 0 auto;
    height: 2rem; 
    width: 2rem;
    border-style: solid;
    border-color: $color-light;
    border-width: 0px 3px 3px 0px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    z-index: 5;
}

.carousel__arrow--left {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: rotate(135deg);
}

.carousel__arrow--right {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: rotate(-45deg);
}

@media screen and (min-width: $bp-tablet) {
    .home__cardbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .home__card {
        h3 {
            font-size: $font-size-h4;
        }
    }

    .home__quote {
        font-size: $font-size-h5;
        max-width: 600px;
    }
}

@media screen and (min-width: $bp-desktop) {
    .home__carousel {
        max-width: 800px;
    }

    .home__description {
        max-width: 600px;
        margin: 8rem auto;
    }

    .home__card {
        margin: 0 1rem;
        h3 {
            font-size: $font-size-h3;
        }
    }

    .home__quote {
        font-size: $font-size-h4;
        max-width: 800px;
    }
}