.weddings__hero {
  height: 50vh;
  background: url("https://res.cloudinary.com/dnnv743v6/image/upload/c_mfit,e_auto_saturation,h_600/v1613764047/CLE_7899_h3i6kl.jpg") no-repeat center center;
  background-size: cover;
}

@media screen and (min-width: $bp-tablet) {
  .weddings__hero {
    height: 50vh;
    background: url("https://res.cloudinary.com/dnnv743v6/image/upload/c_mfit,e_auto_saturation/v1613764047/CLE_7899_h3i6kl.jpg") no-repeat center center;
    background-size: cover;
  }
}

@media screen and (min-width: $bp-desktop) {
  .weddings__hero {
    height: 75vh;
  }
}