.wrapper {
    // On small mobile screens, just limit width to 90% and center content
    max-width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: $bp-desktop) {
    .wrapper {
        max-width: 980px;
    }
}