---
layout: layouts/base.njk
title: About Me
---

<section class="page-container about__main">
    <div class="wrapper">
        <div class="about__imagecontainer">
            <img src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613764073/CLE_8948_gdifpj.jpg" alt="about page main image" />
            <img src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442271/CLE_0761-3-Edit_ev7xof.jpg" alt="about page main image" />
        </div>
        <div class="text__box">
            <h1>WE WANT TO HELP YOU REMEMBER THE HAPPIEST MOMENTS OF YOUR LIFE THROUGH EVERLASTING IMAGERY</h1>
            <p>We have the creative minds and vision to capture special moments before they even happen.</p>
            <p>Our love of documenting weddings comes from a background of commercial production and live event coverage. Mixing all of those experiences and knowledge from those projects is how we are able to coordinate and direct a party properly.</p>
        </div>
    </div>
</section>

<section class="about__parallax"></section>



