---
layout: layouts/base.njk
title: About Me

---

<section class="hero">
    <img class="hero__bgimage" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442282/CLE_4497-2_w9qdl3.jpg" alt="hero image for the about page" />
</section>