---
layout: layouts/base.njk
title: Wedding Gallery
eleventyNavigation:
    key: Weddings
    title: Weddings
---

<main class="portfolio wrapper page-container">
    <h3 class="portfolio__title">- {{ title | makeUppercase }} -</h3>
    <a class="portfolio__link portfolio__link--weddings" href="/galleries/weddings/">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613764036/CLE_7168-2_nyltpw.jpg" alt="">
    </a>
    <a class="portfolio__link portfolio__link--engagements" href="/galleries/engagements/">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613764089/IMG_9182_tfbt8m.jpg" alt="">
    </a>
        <a class="portfolio__link portfolio__link--weddings" href="/galleries/weddings/">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613764023/470A1790_h9jxmf.jpg" alt="">
    </a>
    <a class="portfolio__link portfolio__link--engagements" href="/galleries/engagements/">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442254/IMG_8805_eq9hbh.jpg" alt="">
    </a>
        <a class="portfolio__link portfolio__link--weddings" href="/galleries/weddings/">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613764024/_AIG9369_ejbjoy.jpg" alt="">
    </a>
    <a class="portfolio__link portfolio__link--engagements" href="/galleries/engagements/">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613764047/CLE_7899_h3i6kl.jpg" alt="">
    </a>
</main>