---
title: Unity One Weddings
description: Wedding Photography and Videography out of Cleveland, Ohio
layout: layouts/base.njk
---

<section class="hero">

    <video class="hero__bgvideo" preload="true" autoplay loop muted playsinline>
        <source src="https://res.cloudinary.com/dnnv743v6/video/upload/br_911k,c_scale,dl_2,h_720,q_auto:eco,vc_auto/v1614131177/Wedding_Website_1280x720_021421_lmnper.mp4" type="video/mp4">
    </video>

    <div class="wrapper">

        <a class="hero__link" href="#about">
            {# <h1 class="hero__headline">Explore</h1> #}
            <div class="hero__arrow"></div>
        </a>
       
    </div>
</section>

<div class="home__quote">
    <h1 class="home__quote--text">WEDDING PHOTOGRAPHY AND CINEMATOGRAPHY OUT OF <span class="color-accent">CLEVELAND</span>, <span class="color-accent">OHIO</span></h1>
</div>

<main class="home wrapper" id="about">
    <div class="home__cardbox">
        <a class="home__card" href="/galleries/weddings">
            <h3>PHOTOGRAPHY</h3>
            <img src="https://res.cloudinary.com/dnnv743v6/image/upload/c_lfill,h_900,w_600/v1614377061/DSC_5003-2_qxdwsu.jpg" alt="" description="">      
        </a>
        <a class="home__card" href="/galleries/engagements">
            <h3>ENGAGEMENTS</h3>
            <img src="https://res.cloudinary.com/dnnv743v6/image/upload/c_scale,h_900/v1614376933/CLE_4007_edited_web_vufijq.jpg" alt="" description=""> 
        </a>
        <a class="home__card" href="/cinematography">
            <h3>CINEMATOGRAPHY</h3>
            <img src="https://res.cloudinary.com/dnnv743v6/image/upload/c_scale,h_900/v1614377062/DSC_5045-2_ystvrw.jpg" alt="" description="">
        </a>
    </div>
</main>
<div class="home__quote">
    <h2 class="home__quote--text">HERE IS A <span class="color-accent">ROMANTIC</span> QUOTE</h2>
</div>
<section class="home__carousel">
    <img id="currentSlide" class="carousel__image carousel__image--1 carousel__image--active" src="https://res.cloudinary.com/dnnv743v6/image/upload/c_scale,h_600/v1613442214/CLE_4244-2_qu531b.jpg" alt="Home Carousel Image" description="Image number 1 for home carousel">
    <img class="carousel__image carousel__image--2" src="https://res.cloudinary.com/dnnv743v6/image/upload/c_scale,h_600/v1613442292/CLE_8152_idcy9r.jpg" alt="Home Carousel Image" description="Image number 2 for home carousel">
    <img class="carousel__image carousel__image--3" src="https://res.cloudinary.com/dnnv743v6/image/upload/c_scale,h_600/v1613764089/IMG_9182_tfbt8m.jpg" alt="Home Carousel Image" description="Image number 3 for home carousel">
    <span id="carouselPrev" class="carousel__arrow--left"></span>
    <span id="carouselNext" class="carousel__arrow--right"></span>
</section>
<div class="wrapper">
    <p>We do not use baked in filters or the same color palette for each and every wedding we shoot. We strive for more than that. We take pride that every wedding looks different from one another.</p>
    <p>Believe us, your wedding day is going to fly by and we just want to make sure you remember how great it was. There is no better feeling than leaving the reception knowing every special moment was captured nicely.</p>
</div>





