---
title: Nick Roth Creative
description: Wedding Photography and Videography out of Cleveland, Ohio
layout: layouts/base.njk
---

<section class="hero">

    <video class="hero__bgvideo" preload="true" autoplay loop muted playsinline>
        <source src="https://res.cloudinary.com/dnnv743v6/video/upload/br_911k,c_scale,dl_2,h_720,q_auto:eco,vc_auto/v1614131177/Wedding_Website_1280x720_021421_lmnper.mp4" type="video/mp4">
    </video>

    <div class="wrapper">

        <a class="hero__link" href="#about">
            {# <h1 class="hero__headline">Explore</h1> #}
            <div class="hero__arrow"></div>
        </a>
       
    </div>
</section>

<main class="home wrapper" id="about">
    <h1 class="home__description">WEDDING PHOTOGRAPHY AND VIDEOGRAPHY OUT OF <span class="color-accent">CLEVELAND</span>, <span class="color-accent">OHIO</span></h1>

    <hr></hr>
    <div class="home__cardbox">
        <div class="home__card">
            <h3>Photography</h3>
            <hr></hr>
            <img src="https://res.cloudinary.com/dnnv743v6/image/upload/c_lfill,h_900,w_600/v1614377061/DSC_5003-2_qxdwsu.jpg" alt="" description="">      
        </div>
        <div class="home__card">
            <h3>Engagements</h3>
            <hr></hr>
            <img src="https://res.cloudinary.com/dnnv743v6/image/upload/c_scale,h_900/v1614376933/CLE_4007_edited_web_vufijq.jpg" alt="" description=""> 
        </div>
        <div class="home__card">
            <h3>Cinematography</h3>
            <hr></hr>
            <img src="https://res.cloudinary.com/dnnv743v6/image/upload/c_scale,h_900/v1614377062/DSC_5045-2_ystvrw.jpg" alt="" description="">
        </div>
    </div>
</main>




