<header>
    <div class="wrapper">
        <h1 class="header__title">Nick Roth | Creative</h1>

        <!-- TODO: Add contact button -->

        <nav class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </nav>
    </div>
</header>