<header class="header">
    <div class="wrapper">
        <h2 class="header__title">Nick Roth | Creative</h2>
        
        <nav>
            <a class="button header__contactbtn" href="#">CONTACT</a>

            {# <div class="hamburger hidden-largescrn">
                <span></span>
                <span></span>
                <span></span>
            </div> #}

            {# <a class="header__desktoplinks display-largescrn" href="#"><li>ABOUT</li></a>
            <a class="header__desktoplinks display-largescrn" href="#"><li>PORTFOLIO</li></a>
            <a class="header__desktoplinks display-largescrn" href="#"><li>TESTIMONIALS</li></a> #}
        </nav>
    </div>
</header>