<!-- ==========================================================
Hero Section - Contains only:
                    * Full height video background
                    * Margeting heading
                    * Explore button to scroll down page
========================================================== -->
<section class="hero">
    <div class="wrapper">
        <video class="hero__bgvideo" preload="true" autoplay loop muted>
            <source src="videos/Background_video_1280x720.mp4" type="video/mp4">
        </video>

        <h1 class="hero__headline">Picture Your Perfect Day</h1>

        <a class="button hero__button" href="#">EXPLORE</a>
       
    </div>
</section>