<section class="portfolio wrapper">
    <h2 class="portfolio__headline">My Work</h2>
    <img class="portfolio__image" src="/img/portfolio-1.jpg" alt="">
    <img class="portfolio__image" src="/img/portfolio-2.jpg" alt="">
    <img class="portfolio__image" src="/img/portfolio-3.jpg" alt="">
    <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442237/CLE_0387_valv30.jpg" alt="">
    <img class="portfolio__image" src="/img/portfolio-5.jpg" alt="">
    <img class="portfolio__image" src="/img/portfolio-6.jpg" alt="">
</section>