<section class="portfolio">
    <h3 class="portfolio__description">Cleveland, Ohio based wedding photography and video services</h3>
    <a class="button button--blue" href="/portfolio">PORTFOLIO</a>
    <div class="wrapper">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442237/CLE_0387_valv30.jpg" alt="">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442292/CLE_8152_idcy9r.jpg" alt="">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442214/CLE_4244-2_qu531b.jpg" alt="">
        <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442254/IMG_8805_eq9hbh.jpg" alt="">
    </div>
</section>