<section class="portfolio wrapper">
    <p class="portfolio__description">I'm baby yOLO lo-fi you probably haven't heard of them organic, blue bottle try-hard four dollar toast salvia photo booth +1 coloring book 3 wolf moon green juice vape. Meggings etsy four loko stumptown coloring book. Pok pok before they sold out la croix yr.</p>
    <a class="button button--blue" href="/portfolio">VIEW MY PORTFOLIO</a>
    <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442237/CLE_0387_valv30.jpg" alt="">
    <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442292/CLE_8152_idcy9r.jpg" alt="">
    <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442214/CLE_4244-2_qu531b.jpg" alt="">
    <img class="portfolio__image" src="https://res.cloudinary.com/dnnv743v6/image/upload/v1613442254/IMG_8805_eq9hbh.jpg" alt="">
</section>