    <script src="../js/main.js"></script>

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }

        // Hamburger and mobile menu animations
        const hamburger = document.getElementById('hamburger');

        hamburger.onclick = function() {
            console.log('clicked!!');
            hamburger.classList.toggle('open');
        }
    </script>
</body>
</html>